@font-face {
  font-family: 'FiraCode';
  src: url('../assets/fonts/FiraCode/FiraCode-Regular.eot');
  src: url('../assets/fonts/FiraCode/FiraCode-Regular.eot')
      format('embedded-opentype'),
    url('../assets/fonts/FiraCode/FiraCode-Regular.woff2') format('woff2'),
    url('../assets/fonts/FiraCode/FiraCode-Regular.woff') format('woff'),
    url('../assets/fonts/FiraCode/FiraCode-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
