/*
 * Elements
 */
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
button,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
p,
picture,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
picture,
section {
  display: block;
}

/*
 * Specific display
 */
blockquote,
q {
  quotes: none;
}
blockquote::after,
blockquote::before,
q::after,
q::before {
  content: none;
}
del {
  text-decoration: none;
}
abbr[title],
dfn[title] {
  border-bottom: 0;
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Root
 */
html {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/*
 * States
 */
a:active,
a:focus,
a:hover,
button:active,
button:focus,
button:hover,
input:active,
input:focus,
input:hover {
  outline: 0;
}
button,
button:invalid,
button:valid,
input,
input:invalid,
input:valid {
  box-shadow: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
}
a {
  color: inherit;
}

/*
 * Editorial elements
 */
li,
ol,
ul {
  list-style: none;
}
strong,
th {
  font-weight: 400;
}
em {
  font-style: normal;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.25em;
}
sub {
  bottom: -0.25em;
}

/*
 * Form elements
 */
button,
input,
select,
textarea {
  margin: 0;
  outline: 0;
}
button,
input[type='submit'] {
  background: 0;
  border: 0;
  display: block;
  width: auto;
  overflow: visible;
}
input,
select {
  vertical-align: middle;
}
button,
input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
}
a,
button,
input[type='button'],
input[type='image'],
input[type='submit'],
label {
  cursor: pointer;
}

/*
 * Ergonomics
 */
label,
nav a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
textarea {
  display: block;
  overflow: auto;
  resize: none;
}
a {
  background-color: transparent;
  text-decoration: none;
}

/*
 * Box-sizing
 */
*,
:after,
:before {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
@-ms-viewport {
  width: device-width;
  zoom: 1;
}
@-o-viewport {
  width: device-width;
  zoom: 1;
}
@viewport {
  width: device-width;
  zoom: 1;
}
